name: Go Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Install libpcap (for gopacket)
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1